#top-splide .splide__pagination{
    bottom: -1.2rem;
}

#top-splide .splide__pagination__page{
    opacity: 1;
    height: 10px;
    width: 10px;
}

#top-splide .splide__pagination__page.is-active{
    background-color: #C5AF66;
}

#bottom-pagination span{
    gap: 0.5rem;
}
