@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@layer components {
    .nav-link {
        @apply text-cGold transition hover:text-cGold/75 font-bold
    }

    .c-container{
        @apply px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 2xl:px-24
    }
}
